extends layout

block content
    div(class='container-fluid w-50 mx-auto mt-5')
        h3(class='mb-4') Transaction Management
        div(class='d-grid gap-2')
            a(href='/withdrawal/create' class='btn btn-primary btn-lg mb-3') Add Withdrawal
            a(href='/transfer/create' class='btn btn-success btn-lg') Add Transfer
