extends layout

block content
    form(action='/note/create',method='post')
        div(class='mx-auto w-25' style ='margin: 20px;padding: 20px;border: 1px solid black;border-radius: 15px;background-color: antiquewhite;box-sizing: border-box;')
            p Name
            div(class='')
                input(class="form-control" type='text' name='Name' )
            p Last Name
            div(class='')
                input(class='form-control' type="text" name="lastName") 
            p User Name
            div(class='')
                input(class='form-control' type="text" name="userName") 
            p Password
            div(class='')
                input(class='form-control' type="text" name="Password") 
            p Phone Number
            div(class='')
                input(class='form-control' type="text" name="PhoneNumber") 
            p National Code
            div(class='')
                input(class='form-control' type="text" name="NationalCode") 
            div(class='')
                input(class='btn btn-outline-dark mt-4' type='submit' value='Create Note') 

