extends layout

block content
    form(action='/signin/create' method='post').container-fluid.container-div.d-flex.flex-column.align-items-center
        div(style ='margin: 100px;padding: 20px;border: 1px solid black;border-radius: 15px;background-color: antiquewhite;box-sizing: border-box; width:30%')
            p Name
            div(class='')
                input(id='firstName' class="form-control" type='text' name='firstName' )
            p Last Name
            div(class='')
                input(id='lastName' class='form-control' type="text" name="lastName") 
            p User Name
            div(class='')
                input(id='userName' class='form-control' type="text" name="userName") 
            p Password
            div(class='')
                input(id='password' class='form-control' type="text" name="password") 
            p Phone Number
            div(class='')
                input(id='phoneNumber' class='form-control' type="text" name="phoneNumber") 
            p National Code
            div(class='')
                input(id='nationalId' class='form-control' type="text" name="nationalId") 

            div(class='')
                input(class='btn btn-outline-dark mt-4' type='submit') 