extends layout

block content
    div(class='container-fluid w-75')
        div(class='mb-3' style='background-color: #13547f; color: #fff; padding: 12px; border-radius: 8px; color: #fff;')
            if results 
                each customer in results
                    h5(style='margin-bottom: 6px;') Name
                    div(class='input-group mb-2')
                        input(id='name-input' class='form-control' disabled value=customer.firstname)
                    h5(style='margin-bottom: 6px;') Last Name
                    div(class='input-group mb-2')
                        input(id='last-name-input' class='form-control' disabled value=customer.lastname)
                    h5(style='margin-bottom: 6px;') Account Number
                    div(class='input-group mb-2')
                        input(id='account-number-input' class='form-control' disabled value=432423)
                    button(id='edit-customer-btn' class='btn btn-outline-light my-2' onclick='toggleEdit("name-input")') Edit
                        
        div(class='my-4 col')
            h3(style='background-color:#333; color: #fff; padding: 10px; border-radius: 5px;') Transactions
            table(class='table table-striped')
                thead(class='thead-dark')
                    th scope='col' test
                    th scope='col' test2
                    th scope='col' test3
                    th scope='col'
                    th scope='col'
                    th scope='col'
                tbody
                    tr
                        td hkh 
                        td kjk
                        td jfkldj
                        td 
                        td 
                        td
                            button(id='edit-transaction-btn' class='btn btn-outline-primary mx-2') Details 
                    tr    
                        td hkh 
                        td kjk
                        td jfkldj
                        td 
                        td 
                        td 
                            button(class='btn btn-outline-primary mx-2') Details 
                    tr    
                        td hkh 
                        td kjk
                        td jfkldj
                        td 
                        td 
                        td 
                            button(class='btn btn-outline-primary mx-2') Details 
