extends layout

block content
    body
        div(style='background-color:red')
            h3 Name
            div(class='') 
                p=results.firstname
            h3 Last Name
            div(class='')
                p=results.lastname

