extends layout

block content
    div(class='container-fluid w-75')
        div(class='mb-10 col' style='background-color:gray')
            each customer in results
                h3 Name
                div()
                    p=customer.firstname
                h3 Last Name
                div()
                    p=customer.lastname
        div(class='col')
            h3(style='background-color:gray') Transactions
            table(class='table')
                tr 
                    th test
                    th test2 
                    th test3
                    th
                    th
                    th
                tr
                    td hkh 
                    td kjk
                    td jfkldj
                    td 
                    td 
                    td 
                        button(class='btn btn-outline-primary mx-2') details 
                        button(class='btn btn-outline-secondary') delete
                tr    
                    td hkh 
                    td kjk
                    td jfkldj
                    td 
                    td 
                    td 
                        button(class='btn btn-outline-primary mx-2') details 
                        button(class='btn btn-outline-secondary') delete
                tr    
                    td hkh 
                    td kjk
                    td jfkldj
                    td 
                    td 
                    td 
                        button(class='btn btn-outline-primary mx-2') details 
                        button(class='btn btn-outline-secondary') delete    
