extends layout

block content
    //- p customers:    
    div.container-fluid.w-75()
        table.table()
            tr 
                th Id
                th Name 
                th Last Name
                th 
            each customer in results
                tr
                    tdcustomer.iduser
                        //- a(href=`/user/${note.iduser}`) view
                    td=customer.firstname
                    td=customer.lastname
                    td
                    td
                    td 
                        button(type='button' class='btn btn-primary mx-3' onclick=`location.href='/user/${customer.id}'`) details  
                        button.btn.btn-outline-danger delete