extends layout

block content
  form(action="/bank/login", method="post")
    .create-main-box
      p username
      div
        input.login-input(type="text", name="username", style="width:27vw")
      p password
      div
        input.login-input(type="text", name="password", style="width:27vw")
      button.btn.btn-outline-dark(type=button) login