    body 
        form(action='/bank/login',method='post')
            div(class='create-main-box')
                p username
                div(class='login-input')
                    input(type='text' name='username')
                p password
                div(class='login-input')
                    input(type='text' name='password')
