extends layout

block content
    form(action='/transaction/withdrawal/customer/create', method='post')
        div(class='mx-auto' style='margin: 20px; padding: 20px; border: 1px solid black; border-radius: 15px; background-color: antiquewhite; box-sizing: border-box; width: 30%')
            h4 Create withdrawal
            hr
            p User Name
            div(class='')
                input(class='form-control' type="text" name='cashierUserName' readonly='true' value=`${result.userName}`)
            p Acceptor Code
            div(class='')
                input(class='form-control' type="text" name="acceptorcode")
            p Amount
            div(class='')
                input(class='form-control' type="text" name="amount")
            div(class='')
                input(class='btn btn-outline-dark mt-4' type='submit' value='Create withdrawal')
