body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  /* Include padding and borders in the element's total width and height */
}

a {
  color: #00b7ff;
  /* color: #13547f; */
}

.round-box,
.create-main-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: antiquewhite;
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

.create-main-box {
  width: 30vw;
}

td {
  padding: 10px;
}

.login-input {
  padding: 7px;
  border-radius: 7px;
  border: 1px solid black;
  width: 27vw;
  margin-bottom: 4px;
}
.login-input:focus {
  box-shadow: rgba(9, 34, 59, 0.5);
}
#transaction-status:hover {
  cursor: pointer;
  block-size: fit-content;;
}
td[data-clickable="true"]:hover {
  cursor: pointer;
}

#transfer-status {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
  cursor: pointer; /* Show pointer cursor on hover */
  border: none; /* Remove border */
  background-color: transparent; /* Set background to transparent */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}